.text{

}
body{
  background-color: #f8f7b6;
}
div div.add-indics{
  background-color: #fff;
  text-align: left;
  border: 1px solid #ccc;
  cursor: text;
  color: #ccc;
}
.card-container{
background-color:#fff;
box-shadow: 4px 6px 3px rgba(0,0,0,0.5);
  border: 1px solid #ccc;
  cursor:move;
}
.create-item{
width:100%;
/* position:absolute; */
  min-height: 100px;
}
.no-margin{
 margin:0px !important;
}
.row-container{
	  padding-top: 25px;
	  position: relative;
}
.create-card{
  min-height: 100px;
z-index:10;
display:none;
 width: 51%;
 margin: auto;
}
.close {
  border: 1px solid #000;
  border-radius: 40px;
  width: 25px;
  text-align: center;
  height: 25px;
  line-height: 20px;
  display:none;
    position: absolute;
  right: 0px;
  margin-top: -25px;
  padding-top: 2px;
  /* top: -28px;
  position: absolute;
  right: 0px; */
}

li:hover .close {
   display: block;
}
.align-center{
  text-align: center;
float: none;
  margin: auto;
}
.card-label{
	min-height: 41px;
  line-height: 41px;
  padding-left: 5px;
  border-bottom: 1px solid #CB9;
}
.card-content{
  word-wrap: break-word;
  display: inline-block;
  word-break: break-all;
  padding: 5px;
  min-height: 126px;
  min-width: 247px;
  cursor: text;
}
.input{
  width: 94%;
  float: none;
  margin-bottom: 6px;
}
.top-padd{
padding-top:50px;
}
div.text:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
.add{
	height: 23px;
  float: none;
  width: 52px;
  background-color: transparent;
}	
.cards ul li{
  margin: 3px 20px 3px 0;
  padding: 1px;
  float: left;
  width: 251px;
  min-height: 171px;
  height:auto;
  /* font-size: 10px; */
  /* text-align: center; */
  list-style-type: none;
}